target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/
.PVS-Studio/
*.iml
*.class
*_orm.py
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
documentation/*.pdf
documentation/*.html
documentation/*.gz
celesta-documentation/src/main/asciidoc/*.png
celesta-documentation/src/main/asciidoc/ru/*.png
/inspection-results
